# This file specifies only the top-level dependencies for the project.
# Pip will resolve and install the correct versions of their sub-dependencies.

# --- Core Web Framework & Server ---
fastapi==0.110.0
gunicorn==21.2.0
uvicorn==0.27.1
uvicorn[standard]

# --- Database & ORM ---
sqlalchemy==2.0.28
psycopg2-binary==2.9.9

# --- Data Validation & Configuration ---
pydantic-settings==2.2.1
# pydantic is automatically installed as a dependency of fastapi

# --- Machine Learning & Feature Engineering ---
scikit-learn==1.4.1.post1
pandas==2.2.1
# numpy is automatically installed as a dependency of pandas/scikit-learn
joblib==1.3.2
haversine==2.8.0
#tensorflow-cpu==2.16.1
Pillow           # For image manipulation
python-multipart # Required by FastAPI for form data (file uploads)
numpy

alembic
psycopg2-binary
